.contacto .content-data {
  box-shadow: 2px 2px 15px 2px var(--blue);
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.contacto .form .form-control {
  border: 1px solid var(--blue);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 1px 1px 0px 1px var(--blue);
}
.contacto .form textarea {
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}