:root {
  --white: #FFFFFF;
  --white-rgb: 255, 255, 255;
  --black: #1D1D1D;
  --black-rgb: 29, 29, 29;
  --gray: #CCCCCC;
  --gray-rgb: 204, 204, 204;
  --red: #e0323e;
  --red-rgb: 224, 50, 62;
  --orange: #dd5938;
  --orange-rgb: 221, 89, 56;
  --yellow: #c5a330;
  --yellow-rgb: 197, 163, 48;
  --green: #789d36;
  --green-rgb: 120, 157, 54;
  --blue: #5170b7;
  --blue-rgb: 81, 112, 183;
  --purple: #5844a4;
  --purple-rgb: 88, 68, 164;
}
/* ********************************************** */
/* GLOBAL */
/* ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  color: var(--black);
}
body {
  padding-top: calc(70px + 2rem);
}
a {
  text-decoration: none;
}
.text-bebas {
  font-family: 'Bebas Neue', sans-serif;
}
.text-blue {
  color: var(--blue);
}
.text-red {
  color: var(--red);
}
.link-black-blue {
  text-decoration: none;
  color: var(--black);
  transition: all 0.3s;
}
.link-black-blue:hover {
  color: var(--blue);
}
.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235170b7'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
}
.btn-close:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.btn-white-blue {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 1px 1px 0px 1px var(--blue);
  transition: all 0.3s;
}
.btn-white-blue.active {
  background-color: var(--blue);
  color: var(--white);
}
.btn-white-blue:hover {
  background-color: var(--blue);
  color: var(--white);
}
.btn-white-blue:focus {
  background-color: var(--white);
  color: var(--blue);
}
.btn-blue-white {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 1px 1px 0px 1px var(--white);
  transition: all 0.3s;
}
.btn-blue-white.active {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  box-shadow: 1px 1px 0px 1px var(--blue);
}
.btn-blue-white:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  box-shadow: 1px 1px 0px 1px var(--blue);
}
.btn-blue-white:focus {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  box-shadow: 1px 1px 0px 1px var(--blue);
}
/* ********************************************** */
/* CAROUSEL */
/* ********************************************** */
.carousel .carousel-indicators button {
  width: 30px;
  height: 10px;
  border-radius: 12px;
  background-color: var(--gray);
}
.carousel .carousel-indicators button.active {
  background-color: var(--blue);
}
.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235170b7'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235170b7'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
@media (min-width: 768px) {
  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
  }
  .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
  }
}
/* ********************************************** */
/* NAVBAR */
/* ********************************************** */
.navbar {
  background-color: var(--white);
  border-bottom: 3px solid var(--blue);
}
.navbar .navbar-brand img {
  height: 70px;
  transition: all 0.5s;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2881, 112, 183, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar .navbar-nav {
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.3rem 1rem 0.1rem 1rem;
  background-color: var(--white);
  color: var(--blue);
  /* border: 1px solid var(--blue); */
  /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
  /* box-shadow: 1px 1px 0px 1px var(--blue); */
  margin-left: 1rem;
  transition: all 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link.btn-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.navbar .navbar-nav .nav-item .nav-link.btn-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--orange);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar .navbar-nav .nav-item .nav-link.btn-underline-from-center:hover:before,
.navbar .navbar-nav .nav-item .nav-link.btn-underline-from-center:focus:before,
.navbar .navbar-nav .nav-item .nav-link.btn-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--orange);
}
.navbar .navbar-nav .nav-item .nav-link.active:before {
  left: 0;
  right: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  /* background-color: var(--blue); */
  color: var(--orange);
}
.navbar .navbar-nav .nav-item .nav-link:focus {
  background-color: var(--white);
  color: var(--blue);
}
.navbar .navbar-nav.pre-nav .nav-item .nav-link {
  font-size: 1rem;
  padding: 0.2rem 1rem 0.1rem 1rem;
  color: var(--black);
  border: 1px solid var(--red);
  box-shadow: 1px 1px 0px 1px var(--red);
}
.navbar .navbar-nav.pre-nav .nav-item .nav-link:hover {
  background-color: var(--red);
  color: var(--white);
}
.navbar .navbar-nav.pre-nav .nav-item .nav-link:focus {
  background-color: var(--white);
  color: var(--black);
}
@media (min-width: 992px) {
  .navbar .navbar-nav.pre-nav .nav-item .nav-link {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
}
/* ********************************************** */
/* ESTADISTICAS */
/* ********************************************** */
.estadisticas {
  background-color: var(--blue);
}
.estadisticas .content-estadisticas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.estadisticas .content-estadisticas .item {
  width: 31%;
  margin: 1%;
}
.estadisticas .content-estadisticas .data {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  color: var(--white);
}
.estadisticas .content-estadisticas .title {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  color: var(--yellow);
}
@media (min-width: 768px) {
  .estadisticas .content-estadisticas .data {
    font-size: 3rem;
  }
  .estadisticas .content-estadisticas .title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .estadisticas .content-estadisticas .item {
    width: 20%;
    margin: 0;
  }
  .estadisticas .content-estadisticas .data {
    font-size: 4rem;
  }
  .estadisticas .content-estadisticas .title {
    font-size: 2rem;
  }
}
/* ********************************************** */
/* NEWSLETTER */
/* ********************************************** */
.newsletter input {
  border: 1px solid var(--blue);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 1px 1px 0px 1px var(--blue);
}
/* ********************************************** */
/* REDES SOCIALES */
/* ********************************************** */
.redes-sociales {
  background-color: var(--blue);
}
.redes-sociales .content-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.redes-sociales .content-redes a {
  margin: 1rem;
  color: var(--white);
  font-size: 2rem;
  text-decoration: none;
}
.redes-sociales .content-redes a .rrss {
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.3s;
}
.redes-sociales .content-redes a .rrss.youtube:hover {
  background: #bb0000;
}
.redes-sociales .content-redes a .rrss.facebook:hover {
  background: #3b5998;
}
.redes-sociales .content-redes a .rrss.twitter:hover {
  background: #55acee;
}
.redes-sociales .content-redes a .rrss.instagram:hover {
  background: linear-gradient(45deg, #fdf497 0%,#fd5949 25%,#dc2743 50%,#d6249f 75%,#285AEB 100%); 
}
.redes-sociales .content-redes a .rrss.linkedin:hover {
  background: #007bb5;
}
.redes-sociales .content-redes a .rrss.tiktok:hover {
  background: #000000;
}
/* ********************************************** */
/* MODAL VIDEO */
/* ********************************************** */
#modalVideo .modal-content {
  background-color: rgba(var(--black-rgb),0.8);
}
#modalVideo .modal-header {
  border: none;
  padding-bottom: 0;
  color: var(--white);
  font-weight: 900;
  text-transform: uppercase;
}
#modalVideo .modal-header h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}
#modalVideo .content-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
#modalVideo .content-video #player-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ********************************************** */
/* TITULO INTERNA */
/* ********************************************** */
.titulo-interna {
  background-color: var(--blue);
}
/* ********************************************** */
/* FOOTER */
/* ********************************************** */
footer {
  border-top: 2px solid var(--blue);
}
footer .logo-footer {
  height: 90px;
}