{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick.css' %}">
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'front/assets/css/home.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="home" %}

<div class="slider slider-home">
  <div id="sliderHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators mb-0 mb-sm-3">
      <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
      {% for slide in sliderHome %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <a class="" href="{{ slide.link }}">
          <img src="{{ slide.image.url }}" class="d-block w-100" alt="slide.title">
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderHome" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderHome" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="marcas py-5">
  <div class="container py-5">
    <h1 class="text-bebas display-4 text-blue text-center mb-5">NUESTRAS MARCAS</h1>
    <div class="slider-marcas">
      {% for brand in brands %}
      <div>
        <a href="">
          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if galleryHome %}
<div class="gallery-home py-5">
  <div class="container">
    <div class="wrapper">
      <div class="itemV1">
        <a href="{% if galleryHome.linkV1 == None %}#{% else %}{{ galleryHome.linkV1 }}{% endif %}">
          <img src="{{ galleryHome.imageV1.url }}" alt="">
        </a>
      </div>
      <div class="itemV2">
        <a href="{% if galleryHome.linkV2 == None %}#{% else %}{{ galleryHome.linkV2 }}{% endif %}">
          <img src="{{ galleryHome.imageV2.url }}" alt="">
        </a>
      </div>
      <div class="itemH1">
        <a href="{% if galleryHome.linkH1 == None %}#{% else %}{{ galleryHome.linkH1 }}{% endif %}">
          <img src="{{ galleryHome.imageH1.url }}" alt="">
        </a>
      </div>
      <div class="itemH2">
        <a href="{% if galleryHome.linkH2 == None %}#{% else %}{{ galleryHome.linkH2 }}{% endif %}">
          <img src="{{ galleryHome.imageH2.url }}" alt="">
        </a>
      </div>
      <div class="itemC">
        <a href="{% if galleryHome.linkC == None %}#{% else %}{{ galleryHome.linkC }}{% endif %}">
          <img src="{{ galleryHome.imageC.url }}" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if videos %}
<div class="videos-destacados py-5">
  <div class="container py-5">
    <h1 class="text-bebas display-4 text-blue text-center mb-5">VIDEOS DESTACADOS</h1>
    <div class="slider-videos">
      {% for video in videos %}
      <div>
        <a class="link-modalVideo" type="button" class="" data-bs-toggle="modal" data-bs-target="#modalVideo" data-title="{{ video.title }}" data-code-yt="{{ video.code_yt }}">
          <img src="https://i3.ytimg.com/vi/{{ video.code_yt }}/maxresdefault.jpg" alt="{{ video.title }}">
          <i class='bx bx-play-circle'></i>
          <div class="screenhover">
            {{ video.title|upper }}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

<div class="modal fade" id="modalVideo" tabindex="-1" aria-labelledby="modalVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-1" id="modalVideoLabel"></h1>
        <a type="button" data-bs-dismiss="modal" aria-label="Close">
          <i class='bx bx-x-circle bx-lg text-red'></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="content-video">
          <iframe id="player-video" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'libs/slick-slider/slick.min.js' %}"></script>
<script>
  $(window).ready(function() {
    
    $('.slider-marcas').slick({
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 5,
      autoplay: true,
      autoplaySpeed: 1500,
      swipeToSlide: true,
      responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true,
          dots: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    })
    var lenVideos = {{ videos|length }}
    var centerVideos = false
    if (lenVideos > 3) {
      centerVideos = true
    }
    $('.slider-videos').slick({
      centerMode: centerVideos,
      centerPadding: '60px',
      slidesToShow: 3,
      autoplay: true,
      autoplaySpeed: 1500,
      swipeToSlide: true,
      responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          centerMode: centerVideos,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true,
          dots: false,
          centerMode: centerVideos,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    })
  })
  $('.link-modalVideo').on('click', function() {
    $('#modalVideoLabel').text($(this).attr('data-title'))
    var link_yt = 'https://www.youtube.com/embed/' + $(this).attr('data-code-yt') + '?autoplay=1&amp;playsinline=1&amp;rel=0'
    $('#player-video').prop('src', link_yt)
  })
  $('#modalVideo').on('hide.bs.modal', function() {
    $('#player-video').prop('src', '')
  })
</script>
{% endblock js %}
