{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick.css' %}">
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'front/assets/css/home.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="home" %}

{% if sliderHomeDesktop %}
<div class="slider slider-home desktop" data-aos="fade-in">
  <div id="sliderHomeDesktop" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 75vh;">
    <div class="carousel-indicators mb-0 mb-sm-3">
      {% for slide in sliderHomeDesktop %}
      <button type="button" data-bs-target="#sliderHomeDesktop" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner h-100">
      {% for slide in sliderHomeDesktop %}
      <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
        <a class="" href="{% if slide.link == None %}#{% else %}{{ slide.link }}{% endif %}">
          <img src="{{ slide.image.url }}" class="d-block w-100 h-100" alt="slide.title" style="object-fit: cover; object-position: center;">
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderHomeDesktop" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderHomeDesktop" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endif %}
{% if sliderHomeMobile %}
<div class="slider slider-home mobile" data-aos="fade-in">
  <div id="sliderHomeMobile" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 75vh;">
    <div class="carousel-indicators mb-0 mb-sm-3">
      {% for slide in sliderHomeMobile %}
      <button type="button" data-bs-target="#sliderHomeMobile" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner h-100">
      {% for slide in sliderHomeMobile %}
      <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
        <a class="" href="{% if slide.link == None %}#{% else %}{{ slide.link }}{% endif %}">
          <img src="{{ slide.image.url }}" class="d-block w-100 h-100" alt="slide.title" style="object-fit: cover; object-position: center;">
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderHomeMobile" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderHomeMobile" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endif %}

{% if brands %}
<div class="marcas py-3 py-md-5">
  <div class="container">
    <h1 class="text-bebas display-4 text-blue text-center mb-5 title-js" data-aos="fade-up">NUESTRAS MARCAS</h1>
    <div class="slider-marcas" data-aos="fade-up">
      {% for brand in brands %}
      <div>
        <a href="{% url 'productos_app:marca' brand.slug %}">
          {% if brand.logo %}
          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}">
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if galleryHome %}
<div class="gallery-home py-3 py-md-5">
  <div class="container">
    <div class="wrapper">
      <div class="item1" data-aos="zoom-in" data-aos-delay="0">
        <a href="{% if galleryHome.link1 == None %}#{% else %}{{ galleryHome.link1 }}{% endif %}">
          <img src="{{ galleryHome.image1.url }}" alt="">
        </a>
      </div>
      <div class="item2" data-aos="zoom-in" data-aos-delay="0">
        <a href="{% if galleryHome.link2 == None %}#{% else %}{{ galleryHome.link2 }}{% endif %}">
          <img src="{{ galleryHome.image2.url }}" alt="">
        </a>
      </div>
      <div class="item3" data-aos="zoom-in" data-aos-delay="0">
        <a href="{% if galleryHome.link3 == None %}#{% else %}{{ galleryHome.link3 }}{% endif %}">
          <img src="{{ galleryHome.image3.url }}" alt="">
        </a>
      </div>
      <div class="item4" data-aos="zoom-in" data-aos-delay="0">
        <a href="{% if galleryHome.link4 == None %}#{% else %}{{ galleryHome.link4 }}{% endif %}">
          <img src="{{ galleryHome.image4.url }}" alt="">
        </a>
      </div>
      <div class="item5" data-aos="zoom-in" data-aos-delay="0">
        <a href="{% if galleryHome.link5 == None %}#{% else %}{{ galleryHome.link5 }}{% endif %}">
          <img src="{{ galleryHome.image5.url }}" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if videos %}
<div class="videos-destacados py-3 py-md-5">
  <div class="container">
    <h1 class="text-bebas display-4 text-blue text-center mb-5" data-aos="fade-up">VIDEOS DESTACADOS</h1>
    <div class="slider-videos" data-aos="fade-up">
      {% for video in videos %}
      <div>
        <a class="link-modalVideo" type="button" class="" data-bs-toggle="modal" data-bs-target="#modalVideo" data-title="{{ video.title }}" data-code-yt="{{ video.code_yt }}">
          <img src="https://i3.ytimg.com/vi/{{ video.code_yt }}/maxresdefault.jpg" alt="{{ video.title }}">
          <i class='bx bx-play-circle'></i>
          <div class="screenhover">
            {{ video.title|upper }}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

<div class="modal fade" id="modalVideo" tabindex="-1" aria-labelledby="modalVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-1" id="modalVideoLabel"></h1>
        <a type="button" data-bs-dismiss="modal" aria-label="Close">
          <i class='bx bx-x-circle bx-lg text-red'></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="content-video">
          <iframe id="player-video" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'libs/slick-slider/slick.min.js' %}"></script>
<script>
  $(window).ready(function() {
    $('.slider-marcas').slick({
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 5,
      autoplay: true,
      autoplaySpeed: 1500,
      swipeToSlide: true,
      responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true,
          dots: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    })
    var lenVideos = {{ videos|length }}
    var centerVideos = false
    if (lenVideos > 3) {
      centerVideos = true
    }
    $('.slider-videos').slick({
      centerMode: centerVideos,
      centerPadding: '60px',
      slidesToShow: 3,
      autoplay: true,
      autoplaySpeed: 1500,
      swipeToSlide: true,
      responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          centerMode: centerVideos,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 576,
        settings: {
          arrows: true,
          dots: false,
          centerMode: centerVideos,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    })
  })
  $('.link-modalVideo').on('click', function() {
    $('#modalVideoLabel').text($(this).attr('data-title'))
    var link_yt = 'https://www.youtube.com/embed/' + $(this).attr('data-code-yt') + '?autoplay=1&amp;playsinline=1&amp;rel=0'
    $('#player-video').prop('src', link_yt)
  })
  $('#modalVideo').on('hide.bs.modal', function() {
    $('#player-video').prop('src', '')
  })
</script>
{% endblock js %}
