{% extends 'front/layout.html' %}
{% load static %}

{% block title %}{{ brand.name }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick.css' %}">
<link rel="stylesheet" href="{% static 'libs/slick-slider/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'front/assets/css/marca.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' %}

{% include 'front/components/titulo-interna.html' %}

{% if sliderBrand %}
<div class="slider slider-marca" data-aos="fade-in" data-aos-delay="0">
  <div id="sliderMarca" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 75vh;">
    <div class="carousel-indicators mb-0 mb-sm-3">
      {% for slide in sliderBrand %}
        <button type="button" data-bs-target="#sliderMarca" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner h-100">
      {% for slide in sliderBrand %}
      <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
        <img src="{{ slide.image.url }}" class="d-block w-100 h-100" alt="{{ slide.title }}" style="object-fit: cover; object-position: center;">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderMarca" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderMarca" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endif %}

<div class="marca py-3 py-md-5">
  <div class="container">
    <p class="text-center mb-3 mb-md-5" data-aos="fade-up" data-aos-delay="0">{{ brand.description }}</p>
    <h2 class="text-bebas text-center text-blue display-6 mb-5" data-aos="fade-up" data-aos-delay="0">PRODUCTOS</h2>
    <div class="slider-productos" data-aos="fade-up" data-aos-delay="0">
      {% for product in products %}
      <div>
        <a href="{% url 'productos_app:producto' product.slug %}">
          <img src="{{ product.image }}" alt="{{ product.title }}">
        </a>
        <div class="titulo-producto text-center">
          {{ product.title }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'libs/slick-slider/slick.min.js' %}"></script>
<script>
  $('.titulo-interna h1').text('{{ brand.name }}')
  $(window).ready(function() {
    var lenProducts = {{ products|length }}
    var centerProducts = false
    if (lenProducts > 3) {
      centerProducts = true
    }
    $('.slider-productos').slick({
      centerMode: centerProducts,
      centerPadding: '60px',
      slidesToShow: 5,
      autoplay: true,
      autoplaySpeed: 1500,
      swipeToSlide: true,
      responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          centerMode: centerProducts,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true,
          dots: false,
          centerMode: centerProducts,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    })
  })
</script>
{% endblock js %}
