{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Nosotros{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/nosotros.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="nosotros" %}

{% include 'front/components/titulo-interna.html' with tituloInterna="NOSOTROS" %}

<div class="nosotros py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-delay="0">
        <img src="{{ logo.logo.url }}" alt="" class="img-us w-50">
      </div>
      {% for item in items %}
      <div class="col-12 col-md-6 mt-5" data-aos="fade-up" data-aos-delay="0">
        <h2 class="text-bebas text-center text-blue display-6">{{ item.title }}</h2>
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="" class="rounded shadow w-100 my-3">
        {% endif %}
        <p>{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}


{% block js %}

{% endblock js %}
