{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Novedades{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/novedades.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="novedades" %}

{% include 'front/components/titulo-interna.html' with tituloInterna="NOVEDADES" %}

<div class="novedades pt-3 pt-md-5">
  <div class="container">
    <div class="row">
      {% for news in newsList %}
      <div class="col-12 col-md-4 mb-3 mb-md-5">
        <div class="card w-100 h-100" data-aos="fade-up" data-aos-delay="0">
          <div class="content-img">
            <img src="{{ news.image.url }}" class="card-img" alt="...">
          </div>
          <div class="card-body">
            <div>
              <h3 class="card-title text-bebas">{{ news.title }}</h3>
              <h5>{{ news.subtitle }}</h5>
              <p class="card-text">{{ news.description }}</p>
            </div>
            <a href="{% url 'novedades_app:novedad' news.slug %}" class="btn btn-white-blue mt-3">Ver más</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}


{% block js %}

{% endblock js %}
