{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/novedades.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="marcas" %}

{% include 'front/components/titulo-interna.html' with tituloInterna="NOVEDADES" %}

<div class="novedades py-5">
  <div class="container py-5">
    <div class="row">
      {% for news in newsList %}
      <div class="col-6 col-md-3 mb-5">
        <div class="card w-100">
          <img src="{{ news.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.description }}</p>
            <a href="#" class="btn btn-white-blue">Ver más</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}


{% block js %}

{% endblock js %}
