{% extends 'front/layout.html' %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/novedades.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' with itemActive="novedades" %}

{% include 'front/components/titulo-interna.html' %}

<div class="novedad py-5">
  <div class="container py-5">
    
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'libs/slick-slider/slick.min.js' %}"></script>
<script>
  $('.titulo-interna h1').text('{{ news.name }}')
</script>
{% endblock js %}
