{% extends 'front/layout.html' %}
{% load static %}

{% block title %}{{ brand.name }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/puntos-de-venta.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' %}

{% include 'front/components/titulo-interna.html' with tituloInterna="PUNTOS DE VENTA" %}

<div class="puntos-de-venta py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1 active" data-locality="Todas">Todas</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="CABA">CABA</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="GBA">GBA</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="INT">INTERIOR</button>
      </div>
    </div>      
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="content-points">
          {% for pos in pointsOfSale %}
          <!-- <div class="point-of-sale {{ pos.locality }} Todas" {% if pos.lat or pos.lng %}data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}"{% endif %}"> -->
          <div class="point-of-sale {{ pos.locality }} Todas" onclick="posMarker({% if pos.lat and pos.lng %}{{ pos.lat }}, {{ pos.lng }}{% endif %})">
            <h5 class="fw-bold m-0 title-pos">{{ pos.name }}</h5>
            <p class="small m-0">{{ pos.address }}</p>
            <!-- <p id="{{ pos.id }}" class="small m-0">{{ pos.address }}</p> -->
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div id="mapa"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table>
          <tbody id="data-table">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}

{% block js %}
<script>
  // (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  // ({key: "{{ KEYMAPS }}", v: "weekly"});
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "", v: "weekly"});
  
  // var geocoder
  var map
  var marker
  var dataMarkers = []
  var allMarkers = []
  var infoWindow
  
  async function initMap(latitud, longitud) {
    const { Map } = await google.maps.importLibrary("maps");
    
    map = new Map(document.getElementById("mapa"), {
      center: { lat: latitud, lng: longitud },
      zoom: 4,
    })
    infoWindow = new google.maps.InfoWindow();
    markers('')
  }
  
  function posMarker(latitud, longitud) {
    if (latitud && longitud) {
      const myLatLng = { lat: latitud, lng: longitud };
      map.setCenter(myLatLng)
    }
  }
  
  initMap(-35, -65);
  
  $('.point-of-sale').on('click', function() {
    let latitud = $(this).attr('data-lat')
    let longitud = $(this).attr('data-lng')
    if (latitud && longitud) {
      const LatLng = { lat: latitud, lng: longitud };
      marker.setPosition(LatLng)
      map.setCenter(LatLng)
    }
  })
  
  $('.filter-pos').on('click', function() {
    var locality = $(this).attr('data-locality')
    $('.point-of-sale').addClass('d-none')
    $('.point-of-sale.'+locality).removeClass('d-none')
    $('.filter-pos').removeClass('active')
    $(this).addClass('active')
    if ((locality == 'INT') || (locality == 'Todas')) {
      posMarker(-35, -65)
      map.setZoom(4)
    } else {
      posMarker(-34.60, -58.45)
      map.setZoom(10)
    }
  })
  
  dataMarkers = [
  {% for pos in pointsOfSale %}
    {
      id: {{ pos.id }},
      lat: '{{ pos.lat }}',
      lng: '{{ pos.lng }}',
      content: '',
      locality: '{{ pos.locality }}',
    },
  {% endfor %}
  ]

  async function markers(filter) {
    // for (let i = 0; i < dataMarkers.length; i++) {
    //   marker = new google.maps.Marker({
    //     position: new google.maps.LatLng(dataMarkers[i].lat, dataMarkers[i].lng),
    //     map: map,
    //   });
    //   allMarkers.push(marker)
    // }
    
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    dataMarkers.forEach(({ lat, lng, content }, i) => {
      marker = new AdvancedMarkerElement({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        title: content,
      });

      marker.addListener("click", ({ domEvent, latLng }) => {
        const { target } = domEvent;

        infoWindow.close();
        infoWindow.setContent(marker.title);
        infoWindow.open(marker.map, marker);
      })
    })
  }
</script>
{% endblock js %}