{% extends 'front/layout.html' %}
{% load static %}

{% block title %}{{ brand.name }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/puntos-de-venta.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' %}

{% include 'front/components/titulo-interna.html' with tituloInterna="PUNTOS DE VENTA" %}

<div class="puntos-de-venta py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1 active" data-locality="Todas">Todas</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="CABA">CABA</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="GBA">GBA</button>
        <button class="filter-pos btn-white-blue px-3 mx-3 pt-2 pb-1" data-locality="INT">INTERIOR</button>
      </div>
    </div>      
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="content-points">
          {% for pos in pointsOfSale %}
          <div class="point-of-sale {{ pos.locality }} Todas" {% if pos.lat or pos.lng %}data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}"{% endif %}">
            <h5 class="fw-bold m-0 title-pos">{{ pos.name }}</h5>
            <p id="address{{ pos.id }}" class="small m-0">{{ pos.address }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div id="mapa"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table>
          <tbody id="data-table">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}

{% block js %}
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "{{ KEYMAPS }}", v: "weekly"});
  
  var geocoder
  var map
  var marker
  
  async function initMap(latitud, longitud) {
    const { Map } = await google.maps.importLibrary("maps");
    geocoder = new google.maps.Geocoder()
    map = new Map(document.getElementById("mapa"), {
      center: { lat: latitud, lng: longitud },
      zoom: 16,
    })
    marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(latitud, longitud)
    })
  }
  
  function posMarker(latitud, longitud) {
    if (latitud && longitud) {
      const myLatLng = { lat: latitud, lng: longitud };
      marker.setPosition(myLatLng)
      map.setCenter(myLatLng)
    }
  }
  
  function codeAddress() {
    var address = document.getElementById('address141').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        console.log(results[0].geometry.location)
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
  
  initMap(-34.600368, -58.375449);
  
  $('.point-of-sale').on('click', function() {
    let latitud = $(this).attr('data-lat')
    let longitud = $(this).attr('data-lng')
    if (latitud && longitud) {
      const LatLng = { lat: latitud, lng: longitud };
      marker.setPosition(LatLng)
      map.setCenter(LatLng)
    }
  })
  
  $('.filter-pos').on('click', function() {
    var locality = $(this).attr('data-locality')
    $('.point-of-sale').addClass('d-none')
    $('.point-of-sale.'+locality).removeClass('d-none')
    $('.filter-pos').removeClass('active')
    $(this).addClass('active')
  })

  {% for pos in pointsOfSale %}
    $('#data-table').append('<tr><td>{{pos.id}}</td><td id="lat{{pos.id}}"></td><td id="lng{{pos.id}}"></td></tr>')
  {% endfor %}
</script>
{% endblock js %}
