{% extends 'front/layout.html' %}
{% load static %}

{% block title %}{{ brand.name }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'front/assets/css/puntos-de-venta.css' %}">
{% endblock stylesheet %}

{% block css %}

{% endblock css %}


{% block content %}
{% include 'front/components/navbar.html' %}

{% include 'front/components/titulo-interna.html' with tituloInterna="PUNTOS DE VENTA" %}

<div class="puntos-de-venta py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="content-points">
          {% for pos in pointsOfSale %}
          <div class="point-of-sale" onclick="posMarker({{ pos.lat }}, {{ pos.lng }})">
            <h5 class="fw-bold m-0 title-pos">{{ pos.name }}</h5>
            <p class="small m-0">{{ pos.address }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div id="mapa"></div>
      </div>
    </div>
  </div>
</div>

{% include 'front/components/estadisticas.html' %}

{% include 'front/components/newsletter.html' %}

{% include 'front/components/redes.html' %}

{% endblock %}

{% block js %}
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhiBhFNXWt_01zzAxBrOJ_fPF3uznKvzk&callback=initMap"></script> -->
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "AIzaSyDhiBhFNXWt_01zzAxBrOJ_fPF3uznKvzk", v: "weekly"});
  
  let mapa;

  async function initMap(latitud, longitud) {
    const { Map } = await google.maps.importLibrary("maps");
    mapa = new Map(document.getElementById("mapa"), {
      center: { lat: latitud, lng: longitud },
      zoom: 16,
    })
  }
  
  async function posMarker(latitud, longitud) {
    const { Map } = await google.maps.importLibrary("maps");
    marcador = new google.maps.Marker({
      map: mapa,
      position: new google.maps.LatLng(latitud, longitud)
    })
  }

  initMap(-34.600368, -58.375449);
  posMarker(-34.600368, -58.375449);
</script>
{% endblock js %}
