<div class="newsletter py-5">
  <div class="container py-5">
    <h1 class="text-bebas display-4 text-blue text-center mb-5">NEWSLETTER</h1>
    <p class="fs-4 text-center">Suscribete para recibir nuestras novedades</p>
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <form action="">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Correo eléctronico">
            <button class="btn btn-white-blue" type="button" id="button-addon2">Suscribete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>